In [1]:
import pandas as pd
import numpy as np
import re

df=pd.read_csv('glassdoor_data.csv')
df=df[df['Salary Estimate']!='-1']

df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'Employer est.' in x.lower() else 0)
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0].replace('K','').replace('$','').replace('Per Hour',''))
print(salary[13:20])
# salary=minusk.apply(lambda x: x.replace('Per Hour','').replace('Employer est.',''))

# Extract minimum and maximum salary from "Salary Estimate" column
def extract_min_salary(salary):
    try:
        split_values = salary.split('-')
        if len(split_values) >= 2:
            return float(split_values[0])
    except:
        pass
    return None

def extract_max_salary(salary):
    try:
        split_values = salary.split('-')
        if len(split_values) >= 2:
            return float(split_values[1])
    except:
        pass
    return None

df['Min Salary'] = salary.apply(extract_min_salary)
df['Max Salary'] = salary.apply(extract_max_salary)

df['avg_salary']=(df['Min Salary']+df['Max Salary'])/2

df['Rating'] = df['Rating'].apply(lambda x: x.split(' ')[0])
# df['Company Name'] = df['Company Name'].apply(lambda x: x.split(' ')[0])

def remove_numerical_part(value):
    value = re.sub(r'\d+', '', value)  # Remove numerical part
    value = re.sub(r'[^\w\s]', '', value)  # Remove special characters
    return value.strip()  # Remove leading and trailing whitespaces


df['Company Name'] = df['Company Name'].apply(remove_numerical_part)

def extract_jobstate(location):
    splitval = location.split(',')
    if len(splitval)>=2:
        return (splitval[1])

df['job_state'] = df['Location'].apply(extract_jobstate)

# df.job_state.value_counts()

df['age']=df['Founded'].apply(lambda x: x if x<1 else (2023-int(x)))

df['python']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

df['excel']=df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

df['sql']=df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)

df.sql.value_counts()

def extract_company(ownership):
    splitval=ownership.split('-')
    if len(splitval)>1:
        return splitval[1]
df['Type of ownership']=df['Type of ownership'].apply(extract_company)

ownership_dummies = pd.get_dummies(df['Type of ownership'])
df = pd.concat([df, ownership_dummies], axis=1)
df.rename(columns={' Private ': 'Private'}, inplace=True)
df.rename(columns={' Public ': 'Public'}, inplace=True)

column_name1 = ' Private'
column_name2 = ' Public'
df.rename(columns={column_name1: column_name1.strip()}, inplace=True)
df.rename(columns={column_name2: column_name2.strip()}, inplace=True)

df['desc_len']=df['Job Description'].apply(lambda x: len(x))

# df.columns
df_out = df.drop(['Unnamed: 0','Headquarters','Competitors','1'], axis =1)

df_out.to_csv('data_cleaned.csv',index=False)

13    50.00 - 55.00
14           51 - 75
15           56 - 84
16           48 - 72
17    38.00 - 40.00
18           44 - 68
19           54 - 58
Name: Salary Estimate, dtype: object

In [2]:
df_out

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,Max Salary,avg_salary,job_state,age,python,excel,sql,Private,Public,desc_len
0,Data Analyst I,$41K - $55K (Glassdoor est.),Job Summary:\nIf you live in or around the San...,4.3,Firstmark Credit Union,"San Antonio, TX",201 to 500 Employees,1932,Private,Banking & Lending,...,55.0,48.0,TX,91,0,0,0,1,0,870
1,Reporting Data Analyst,$64K - $92K (Glassdoor est.),"Medlogix, LLC delivers innovative medical clai...",2.6,MEDLOGIX LLC,"Lansdale, PA",Unknown,-1,Private,Insurance Carriers,...,92.0,78.0,PA,-1,0,0,0,1,0,1004
2,Junior Data Analyst,$45K - $69K (Glassdoor est.),Hintz and Co is a boutique full service media ...,3.8,Hintz and Co,"Los Angeles, CA",1 to 50 Employees,1979,Private,Architectural & Engineering Services,...,69.0,57.0,CA,44,0,0,0,1,0,875
3,Data Analyst(SQL),$64K - $106K (Glassdoor est.),Job Title: Data Analyst (SQL)\nJob Summary: We...,4.1,Leading Torch LLC,"Plano, TX",1 to 50 Employees,-1,Private,-1,...,106.0,85.0,TX,-1,0,0,1,1,0,749
4,Data Analyst (Jr.),$80K - $100K (Employer est.),Department of Veterans Affairs experience? Do ...,4.0,Ben Allegretti Consulting BAC,"Washington, DC",Unknown,2007,None,National Agencies,...,100.0,90.0,DC,16,0,0,0,0,0,1240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Data Analyst,$49K - $70K (Glassdoor est.),Chicago Fire Football Club is a Major League S...,3.8,Chicago Fire FC,"Bridgeview, IL",51 to 200 Employees,-1,Private,Sports & Recreation,...,70.0,59.5,IL,-1,0,0,0,1,0,956
196,Junior Data Analyst,$59K - $95K (Employer est.),Junior Data Analyst\nThis role is open to our ...,4.1,Hotwire Global,"San Francisco, CA",201 to 500 Employees,2000,Public,Advertising & Public Relations,...,95.0,77.0,CA,23,0,0,0,0,1,775
197,Junior Business Analyst,$65K - $90K (Employer est.),Who We Are: ThinkTek is a fast-growing Certifi...,5.0,ThinkTek LLC,"Fairfax, VA",1 to 50 Employees,-1,Private,-1,...,90.0,77.5,VA,-1,0,0,0,1,0,1061
198,Data Analyst,$67K - $100K (Glassdoor est.),Aura is on a mission to create a safer interne...,4.3,Aura,"Boston, MA",201 to 500 Employees,2017,Private,Software Development,...,100.0,83.5,MA,6,0,0,0,1,0,870
199,Data Analyst,$51K - $75K (Glassdoor est.),"Data Analyst:\nAt Hamilton Beach Brands, Inc.,...",3.3,Hamilton Beach Brands Inc,"Glen Allen, VA",201 to 500 Employees,1904,Public,Consumer Product Manufacturing,...,75.0,63.0,VA,119,0,0,0,0,1,1248

In [3]:
df_out[13:20]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,Max Salary,avg_salary,job_state,age,python,excel,sql,Private,Public,desc_len
13,Data Reporting Analyst,$50.00 - $55.00 Per Hour (Employer est.),The primary purpose of this position is to pro...,3.6,Devcare Solutions,Remote,51 to 200 Employees,2005,Private,Information Technology Support Services,...,55.0,52.5,None,18,0,0,0,1,0,1171
14,Data Analyst,$51K - $75K (Glassdoor est.),"Data Analyst:\nAt Hamilton Beach Brands, Inc.,...",3.3,Hamilton Beach Brands Inc,"Glen Allen, VA",201 to 500 Employees,1904,Public,Consumer Product Manufacturing,...,75.0,63.0,VA,119,0,0,0,0,1,1248
15,Data Analyst,$56K - $84K (Glassdoor est.),Do you want to work for a Championship organiz...,4.5,Miami HEAT,"Miami, FL",1001 to 5000 Employees,1987,Private,Sports & Recreation,...,84.0,70.0,FL,36,0,0,1,1,0,800
16,Data Analyst,$48K - $72K (Glassdoor est.),"Morton Buildings, Inc. is the industry leader ...",3.9,Morton Buildings Inc,"Morton, IL",1001 to 5000 Employees,1903,Private,Construction,...,72.0,60.0,IL,120,0,0,0,1,0,642
17,Data Analyst,$38.00 - $40.00 Per Hour (Employer est.),"Data Analyst\nThis is a Hybrid Role, minimum 2...",5.0,Codetru,"North Brunswick, NJ",51 to 200 Employees,2016,Private,Information Technology Support Services,...,40.0,39.0,NJ,7,0,0,0,1,0,857
18,eCommerce Data Analyst,$44K - $68K (Glassdoor est.),Position Summary:\nThe eCommerce Data Analyst ...,3.8,American Freight Management Company,"Delaware, OH",10000+ Employees,1977,Private,Home Furniture & Housewares Stores,...,68.0,56.0,OH,46,0,0,0,1,0,765
19,Business Analyst - Mid level,$54K - $58K (Employer est.),We are seeking a mid-level Business Analyst wh...,4.7,Accel BI,Remote,1 to 50 Employees,2000,Private,Information Technology Support Services,...,58.0,56.0,None,23,0,0,0,1,0,695